<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
			
	<!-- 在web环境下,建议一定要手动配置 -->
	<context:annotation-config />
    <context:component-scan base-package="com.sj.p2p"/>
	<context:property-placeholder location="classpath:jdbc.properties,classpath:sms.properties,classpath:mail.properties"/>

	
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:mybatis-config.xml"/>
		<!-- 类型别名声明，自动取对应包中不包括包名的简单类名作为包括包名的别名
			  写了这个以后在mapper.xml中可以不使用全限定名
		-->
		<property name="typeAliasesPackage" value="com.sj.p2p"/>
		<property name="mapperLocations" value="classpath:com/sj/p2p/*/mapper/*Mapper.xml"/>
	</bean>

	<!-- Spring事物管理 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<!-- 声明事物的方式 -->
	<tx:advice id="advice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="list*" read-only="true"/>
			<tx:method name="get*" read-only="true"/>
			<tx:method name="query*" read-only="true"/>
			<tx:method name="*"/>
		</tx:attributes>
	</tx:advice>

	<!-- 通过配置AOP通知，将service中对应方法纳入Spring事物管理 -->
	<aop:config>
		<aop:pointcut expression="execution(* com.sj.p2p..service.*Service.*(..))" id="pointCut"/>
		<aop:advisor advice-ref="advice" pointcut-ref="pointCut"/>
	</aop:config>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.sj.p2p.common.mapper,com.sj.p2p.business.mapper" />
    </bean>


</beans>
